/* Styles for table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/* UserRow.css */
.editing input {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
}

.searchInput {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}